// grid variables
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

//column variables
$column-margin: 2%;
$column-margin-unit-free: strip-unit($column-margin);
$column-x-margin-sum: column-margin-sum();


//units
$percent: "%";
